* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "sans-serif";
}

/*Header*/
header {
  width: 100%;
}

.slider {
  min-height: 550px;
  color: white;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide:first-child {
  background: url("./assets/images/1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.slide:nth-child(2) {
  background: url("./assets/images/2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.slide:nth-child(3) {
  background: url("./assets/images/3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.slide:nth-child(4) {
  background: url("./assets/images/4.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.slide:nth-child(5) {
  background: url("./assets/images/5.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

/*navigation*/
nav {
  width: 80%;
  padding-top: 12px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 10%;
  color: white;
}

p {
  font-weight: bold;
  font-size: 1.3rem;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

li {
  padding: 5px 8px;
  font-size: 0.9rem;
}

li:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  nav {
    width: 100%;
  }

  li {
    padding: 5px 2px;
    font-size: 0.8rem;
  }
}

/*Carousel*/
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.carousel-content {
  display: flex;
  flex-direction: column;
}

.carousel-content h1 {
  text-align: center;
  font-weight: 500;
}

.carousel-content span {
  font-weight: bold;
}

.carousel-content p {
  align-self: center;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500;
}

.carousel-content button {
  background: rgb(65, 184, 214);
  width: 100px;
  align-self: center;
  margin-top: 20px;
  color: white;
  padding: 10px;
  border-radius: 40px;
  outline: none;
  border: none;
}

.carousel-radio {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 620px) {
  .carousel {
    width: 100%;
  }

  .carousel-content h1 {
    font-size: 1.15rem;
  }

  .carousel-content p {
    font-size: 0.8rem;
    text-align: center;
  }

  .carousel-prev img {
    width: 20px;
    margin-right: 10px;
  }

  .carousel-next img {
    width: 20px;
    margin-left: 10px;
  }
}

/*buttons*/
.carousel-prev img {
  width: 40px;
  filter: invert(99%);
  cursor: pointer;
  position: absolute;
  top: 25%;
  left: 8px;
}

.carousel-next img {
  width: 40px;
  filter: invert(99%);
  cursor: pointer;
  position: absolute;
  top: 25%;
  right: 8px;
}

/*About us section*/
#about-us {
  display: flex;
  flex-direction: column;
}

#about-us .about-title {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

#about-us .about-text {
  font-size: 1rem;
  font-weight: 500;
  padding-bottom: 80px;
  text-align: center;
}

.icons-cards {
  display: flex;
  width: 80%;
  margin: auto;
}

.cards {
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

@media only screen and (max-width: 1250px) {
  .icons-cards {
    width: 100%;
  }

  .cards {
    width: 250px;
    padding: 10px 0;
  }
}

@media only screen and (max-width: 850px) {
  .icons-cards {
    width: 90%;
    flex-wrap: wrap;
  }

  .cards {
    width: 250px;
  }
}

@media only screen and (max-width: 580px) {
  .icons-cards {
    width: 100%;
    flex-direction: column;
  }
}

.cards-img-container {
  width: 100px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  background: rgb(223, 217, 217);
}

#bg-green {
  background: rgb(148, 218, 148);
}

.cards-img {
  width: 40px;
  margin: 0 auto;
  height: 40px;
  position: absolute;
  top: 22px;
  left: 28px;
}

.cards-title {
  text-align: center;
}

.cards-label {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.about-btn {
  margin-top: 40px;
  padding: 10px;
  background: rgb(148, 218, 148);
  color: white;
  border: none;
  border-radius: 40px;
  width: 100px;
  align-self: center;
  outline: none;
}

/*Section 1*/
#section-1 {
  width: 100%;
  background: rgb(245, 240, 240);
}

.section-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
}

@media only screen and (max-width: 950px) {
  .section-container {
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    height: 400px;
    width: 90% !important;
  }

  .img {
    width: 90% !important;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    width: 100% !important;
  }

  .img {
    width: 100% !important;
  }
}

.img {
  width: 50%;
  min-height: 400px;
  display: flex;
  justify-content: center;
}

.img img {
  max-width: 100%;
  height: 350px;
}

.section-container .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section-container .content h2 {
  text-align: left;
  font-size: 1.6rem;
  font-weight: 500;
}

.section-container .content p {
  font-size: 1rem;
  font-weight: 500;
}

.section-container .content button {
  padding: 10px;
  background: rgb(148, 218, 148);
  color: white;
  border: none;
  border-radius: 40px;
  width: 100px;
  outline: none;
}
